:host {
  display: block;
  position: fixed;
  bottom: 0;
  background-color: Wheat;
  overflow: scroll;
  max-height: 200px;
  max-width: 200px;
}

:host li {
  list-style-type: none;
}

* {
  font-size: 12px;
}