:host div#wikiSearch {
  display: block;
  flex: 0 0 25%;
  border: 1px solid grey;
  padding: 10px;
  box-sizing: border-box;
}

#wikiPage {
  flex: 0 0 75%;
  font-size: 12px;
  font-family: sans-serif;
  padding: 50px;
  text-indent: 3em;
  box-sizing: border-box;
  line-height: 1.4;
}

#wikiSearch ul {
  margin: 0px;
  padding: 0px;
}

#wikiSearch li {
  list-style-type: none;
  padding: 2px 0px;
  margin: 0px;
  font-size: 10px;
  font-family: sans-serif;
}

.wikiContainer {
  display: flex;
  height: 350px;
}

.show {
  display: none;
}