p {
  background-color: black;
  color: white;
  position: fixed;
  top: 0;
  font-family: sans-serif;
  font-size: 18px;
  padding: 20px;
  line-height: 1.2;
  height: 200px;
  max-height: 200px;
  overflow: scroll;
  width: 95%;
}

span {
  padding: 0px 3px;
}