p {
  background-color: black;
  color: white;
  font-family: sans-serif;
  font-size: 18px;
  padding: 20px;
  line-height: 1.2;
  width: 95%;
}

span.word {
  margin: 0px;
  padding: 0px 0px;
}

span.word-container {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

span.punctuation {
  margin: 0px;
  padding: 0px 0px;
}