<div class="button-container">
  <button (click)="edit()"> Edit </button>
  <button (click)="save()"> Save </button>
</div> 
<p *ngIf="parsed && !show" >
  <span *ngFor="let word of parsed" class="word-container">
    <span class="word" *ngIf="word.isWord" lookupWord appDoubleClick> {{word.word}}</span>
    <span class="punctuation" *ngIf="!word.isWord"> {{word.word}}</span>
  </span>
</p>
<textarea #para *ngIf="unparsed && show"
  cols="{{unparsed.length < 90 ? unparsed.length : 100}}" rows="10" [(innerHtml)]="unparsed" >
</textarea>
